.kotak{
	background: blue;
	height: 20px;
	text-align: center;
}

.gradient1 {
	background: linear-gradient(to bottom right, #00ffff, #0000cc);
	background: -webkit-linear-gradient(#00ffff, #0000cc); 
	background: -o-linear-gradient(#00ffff, #0000cc); 
	background: -moz-linear-gradient(#00ffff, #0000cc); 
        border-radius: 90px 90px 90px 90px;
}
