.kotak {
	height: 20px;
	text-align: center;
}

.gradient1 {
	background: linear-gradient(to bottom left, #0000cc 160%, #00ffff);
	background: -webkit-linear-gradient(to bottom left, #0000cc 160%, #00ffff); 
	background: -o-linear-gradient(to bottom left, #0000cc 160%, #00ffff); 
	background: -moz-linear-gradient(to bottom left, #0000cc 160%, #00ffff); 
        border-radius: 90px 90px 90px 90px;
}
