.kotak {
	height: 20px;
	text-align: center;
}

.gradient1 {
	background: linear-gradient(to bottom left, #0000cc, #00ffff 160%);
	background: -webkit-linear-gradient(to bottom left, #0000cc, #00ffff 160%); 
	background: -o-linear-gradient(to bottom left, #0000cc, #00ffff 160%); 
	background: -moz-linear-gradient(to bottom left, #0000cc, #00ffff 160%); 
        border-radius: 90px 90px 90px 90px;
}
